{% extends 'base/layout.html' %}

{% block 'title' %}Train your Python programming skill with different tasks{% endblock %}

{% block 'content' %}
    <h1>{% trans 'PyTraining' %}</h1>
    <section class="task">
        <p>Train your skill and experience by solving simple Python tasks. To learn
            more about the project check its <a href="{% url 'page' 'the-idea' %}">idea</a>.
        </p>
    </section>
    
    <section class="task">
        <h2>Latest tasks</h2>
        <ul>
        {% for task in latest_tasks %}
            <li><a href="{% url 'single-task' task.slug %}">{{ task }}</a></li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}
