{% extends 'base/layout.html' %}

{% block 'title' %}{% trans 'The Idea' %}{% endblock %}

{% block 'content' %}
    <h1>{% trans 'The Idea' %}</h1>
    <section class="task">
        <p>The idea here is to train and expand your Python knowledge by completing
        simple programing and/or logic tasks. Each task should not take more than
        30 minutes including preparation - e.g. installing additional package or
        basic setup. Of course this is without claculating "thinking" time )</p>
        <p>Tasks can have hints - e.g. "Check the itertools module." or "Have you
        ever head about timedelta?"</p>
        <p>Users will be able to comment on tasks comparing their solutions with
        others, seeking advice etc. </p>
    </section>
{% endblock %}
