{% extends 'base/layout.html' %}

{% block content %}
    <h1 class="title">{% trans 'Training tasks' %}</h1>
    {% for task in tasks %}
        <section class="task">
            <header>
                <h1><a href="{% url 'single-task' task.slug %}">{{ task.title }}</a></h1>
            </header>
            <aside class="task-meta">
                <ul>
                    <li>{{ task.last_updated }}</li>
                    <li>{{ task.created_by }}</li>
                    <li><a href="{% url 'single-task' task.slug %}#disqus_thread"></a></li>
                </ul>
            </aside>
            <p>{{ task.description }}</p>
        </section>
    {% endfor %}
    {% addtoblock 'js' %}
        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'pytraining'; // required: replace example with your forum shortname
    
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>
    {% endaddtoblock %}
{% endblock %}
